#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |    Q    |    W    |    F    |    P    |    G    |  |    J    |    L    |    U    |    Y    |    ;    |
// |    A    |    R    |    S    |    T    |    D    |  |    H    |    N    |    E    |    I    |    O    |
// |    Z    |    X    |    C    |    V    |    B    |  |    K    |    M    |    ,    |    .    |    /    |
//                     |   TAB   |  SPACE  |   ESC   |  |   DEL   |   BSPC  |   RET   |

            bindings = <
    &kp Q    &kp W    &kp F     &kp P     &kp G     &kp J     &kp L     &kp U     &kp Y     &kp SEMI
    &kp A    &kp R    &kp S     &kp T     &kp D     &kp H     &kp N     &kp E     &kp I     &kp O
    &kp Z    &kp X    &kp C     &kp V     &kp B     &kp K     &kp M     &kp COMMA &kp DOT   &kp FSLH
                      &kp TAB   &kp SPACE &kp ESC   &kp DEL   &kp BSPC  &kp RET
            >;
        };
    };
};
