if SHIELD_RAE_DUX_LEFT

config ZMK_KEYBOARD_NAME
    default "Rae Dux"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RAE_DUX_LEFT || SHIELD_RAE_DUX_RIGHT

config ZMK_SPLIT
    default y

endif


