if SHIELD_RAE_DUX_24_LEFT

config ZMK_KEYBOARD_NAME
    default "Rae Dux 24 M"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RAE_DUX_24_RIGHT

config ZMK_KEYBOARD_NAME
    default "Rae Dux 24 S"

config ZMK_SPLIT_ROLE_CENTRAL
    default n


endif

if SHIELD_RAE_DUX_24_LEFT || SHIELD_RAE_DUX_24_RIGHT

config ZMK_SPLIT
    default y

endif


